@font-face {
	font-family: 'Brush Script Std';
	src: url('../assets/fonts/BrushScriptStd.eot');
	src: url('../assets/fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/BrushScriptStd.woff2') format('woff2'),
		url('../assets/fonts/BrushScriptStd.woff') format('woff'),
		url('../assets/fonts/BrushScriptStd.ttf') format('truetype'),
		url('../assets/fonts/BrushScriptStd.svg#BrushScriptStd') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Merienda One';
	src: url('../assets/fonts/MeriendaOne-Regular.eot');
	src: url('../assets/fonts/MeriendaOne-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/MeriendaOne-Regular.woff2') format('woff2'),
		url('../assets/fonts/MeriendaOne-Regular.woff') format('woff'),
		url('../assets/fonts/MeriendaOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.eot');
	src: url('../assets/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Roboto-Regular.woff2') format('woff2'),
		url('../assets/fonts/Roboto-Regular.woff') format('woff'),
		url('../assets/fonts/Roboto-Regular.ttf') format('truetype'),
		url('../assets/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Bold.eot');
	src: url('../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Roboto-Bold.woff2') format('woff2'),
		url('../assets/fonts/Roboto-Bold.woff') format('woff'),
		url('../assets/fonts/Roboto-Bold.ttf') format('truetype'),
		url('../assets/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
