@import 'custom-material';
@import 'mixins';
@import 'vars';
@import 'fonts';

body {
  font-family: 'Roboto';
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 20px 10px;

  @include respond('gt-sm') {
    padding: 30px 20px;
  }
}

.container,
.container-small {
  width: 100%;
  margin: 0 auto;

}

.container {
  max-width: 1160px;
}

.container-small {
  min-width: 300px;
  max-width: 80%;

  @include respond('gt-sm') {
    max-width: 780px;
  }
}

h1 {
  font-size: 22px;

  @include respond('gt-sm') {
    font-size: 28px;
  }

  @include respond('gt-md') {
    font-size: 32px;
  }
}

h2 {
  font-size: 20px;

  @include respond('gt-sm') {
    font-size: 26px;
  }

  @include respond('gt-md') {
    font-size: 30px;
  }
}

h3 {
  text-align: center;
  font-size: 18px;

  @include respond('gt-xs') {
    font-size: 24px;
  }

  @include respond('gt-sm') {
    font-size: 28px;
  }
}
