<section class="features">
  <div class="contact-wrapper">
    <h2>Servicii profesionale de curatenie</h2>
    <img src="assets/images/logo.png" alt="Bumble Bee Romania" /><br />
    <h1>
      Bumble <span>Bee</span><br /><span fxHide> Romania</span>
      <br />
      <label>Cleaning and more</label>
    </h1>

    <address>
      <div
        fxLayout="column"
        fxLayout.gt-xs
        fxLayoutAlign.gt-xs="space-between center"
      >
        <a fxLayout fxLayoutAlign="center center" href="tel:+40.721.478.507"
          ><md-icon fxHide fxShow.gt-xs>phone</md-icon
          >George<br />+40.721.478.507</a
        >
        <a fxLayout fxLayoutAlign="center center" href="tel:+40.764.388.993"
          >Alex<br />+40.764.388.993<md-icon fxHide fxShow.gt-xs
            >phone</md-icon
          ></a
        >
      </div>
      <a href="mailto:bumblebee.office1@gmail.com"
        >bumblebee.office1@gmail.com</a
      >
    </address>
  </div>

  <div class="features-list" fxLayout.gt-sm fxLayoutWrap>
    <figure
      fxLayout
      fxLayoutAlign="center center"
      style="background-image: url(assets/images/features/1.jpg)"
    >
      <figcaption>
        <h2>Curatenie generala</h2>
      </figcaption>
    </figure>
    <figure
      fxLayout
      fxLayoutAlign="center center"
      style="background-image: url(assets/images/features/2.jpg)"
    >
      <figcaption>
        <h2>Curatenie post-constructor</h2>
      </figcaption>
    </figure>
    <figure
      fxLayout
      fxLayoutAlign="center center"
      style="background-image: url(assets/images/features/3.jpg)"
    >
      <figcaption>
        <h2>Curatenie de intretinere</h2>
      </figcaption>
    </figure>
    <figure
      fxLayout
      fxLayoutAlign="center center"
      style="background-image: url(assets/images/features/4.jpg)"
    >
      <figcaption>
        <h2>Mocheta, covoare, tapiterii</h2>
      </figcaption>
    </figure>
    <figure
      fxLayout
      fxLayoutAlign="center center"
      style="background-image: url(assets/images/features/5.jpg)"
      fxFlexAlign="end"
    >
      <figcaption>
        <h2>Dust room (aprovizionare consumabile)</h2>
      </figcaption>
    </figure>
    <figure
      fxLayout
      fxLayoutAlign="center center"
      style="background-image: url(assets/images/features/6.jpg)"
    >
      <figcaption>
        <h2>Defrisari, amenajari gradini, spatii verzi</h2>
      </figcaption>
    </figure>
  </div>
</section>

<section class="prices">
  <div class="container">
    <h3>Tarife estimative</h3>
    <div class="price-list" fxHide.gt-sm>
      <div fxLayout fxLayoutWrap *ngFor="let price of prices | async">
        <div fxFlex="100" [innerHTML]="price.name"></div>
        <div fxFlex="50">
          Curatenie Generala <br />
          {{ price.standard_price }} RON
        </div>
        <div fxFlex="50">
          Curatenie Post Constructor <br />{{ price.post_construction_price_b }}
          RON
        </div>
      </div>
    </div>
    <table cellspacing="0" fxHide fxShow.gt-sm>
      <thead>
        <tr>
          <td></td>
          <td>Curatenie Generala</td>
          <td>Curatenie Post Construct</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let price of prices | async">
          <td [innerHTML]="price.name"></td>
          <td>{{ price.standard_price }} RON</td>
          <td>{{ price.post_construction_price_b }} RON</td>
        </tr>
      </tbody>
    </table>
    <div>
      <ul>
        <li>Curatenie generala: 9 - 22 RON/mp</li>
        <li>Dupa constructor: 11 - 26 RON/mp</li>
        <li>Curatenie de intretinere: 6 - 12 RON/mp</li>
        <li>Spalare suprafete vitrate (geamuri): 6 - 8 RON/mp</li>
        <li>
          Mocheta, covoare, tapiterii(metoda injectie extractie): 6 - 14 RON/mp
        </li>
      </ul>
      <p>
        <i
          >* Preturile au caracter informativ<br />
          * Preturile pot sa difere in functie de complexitatea lucrarior,
          timpul necesar efectuarii lucrarilor, gradul de dificultate, persoanal
          necesar.</i
        >
      </p>
    </div>
  </div>
</section>

<section
  class="testimonials"
  style="background-image: url(assets/images/testimonials.jpg)"
  fxLayout
  fxLayoutAlign="center center"
>
  <div class="container">
    <h3>Testimoniale</h3>
    <owl-carousel
      #owlElement
      [options]="{ items: 1, dots: true, navigation: true }"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <div
        class="item"
        *ngFor="let testimonial of testimonials | async; let i = index"
      >
        <p>{{ testimonial.content }}</p>
        <label>{{ testimonial.author }}</label>
      </div>
    </owl-carousel>
  </div>
</section>

<section class="partners">
  <owl-carousel
    #owlElement2
    [options]="{
      items: 6,
      dots: false,
      navigation: true,
      loop: true,
      autoplay: true
    }"
    [carouselClasses]="['owl-theme', 'row', 'sliding']"
  >
    <div><img src="assets/images/partners/allegrini.png" alt="" /></div>
    <div><img src="assets/images/partners/ecolab.png" alt="" /></div>
    <div><img src="assets/images/partners/karcher.png" alt="" /></div>
    <div><img src="assets/images/partners/kiehl.png" alt="" /></div>
    <div><img src="assets/images/partners/sc_johnson.png" alt="" /></div>
    <div><img src="assets/images/partners/tennant.png" alt="" /></div>
  </owl-carousel>
</section>

<!-- <section class="contact" style="background-image: url(assets/images/contact.jpg)">
  <form class="container-small" (submit)="sendEmail(message)">
    <h3>Trimite-ne un mesaj !</h3>
    <div fxLayout.gt-sm fxLayoutAlign="space-between center" fxLayoutWrap>
      <md-input-container fxFlex="100" fxFlex.gt-sm="48">
        <input mdInput type="text" placeholder="Nume" required [(ngModel)]="message.first_name" name="first_name">
      </md-input-container>
      <md-input-container fxFlex="100" fxFlex.gt-sm="48">
        <input mdInput type="text" placeholder="Prenume" [(ngModel)]="message.last_name" name="last_name">
      </md-input-container>
      <md-input-container fxFlex="100" fxFlex.gt-sm="48">
        <input mdInput type="text" placeholder="Numar de telefon" required [(ngModel)]="message.phone" name="phone">
      </md-input-container>
      <md-input-container fxFlex="100" fxFlex.gt-sm="48">
        <input mdInput type="text" placeholder="Email" required [(ngModel)]="message.email" name="email">
      </md-input-container>
      <md-input-container fxFlex="100">
        <textarea mdInput cols="30" rows="5" placeholder="Mesajul dumneavoastra" required [(ngModel)]="message.message" name="message"></textarea>
      </md-input-container>
    </div>
    <div fxLayout fxLayoutAlign="center center">
      <button md-raised-button type="submit">Trimite ! <md-icon>send</md-icon></button>
    </div>
  </form>
</section> -->

<footer
  fxLayout="column"
  fxLayout.gt-sm="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="column" fxLayout.gt-xs="row">
    Copyright Bumble Bee - Romania <span fxHide fxShow="gt-sm">|</span> All
    rights reserved !
  </div>
  <div>Webapp under construction!</div>
  <div fxLayout fxLayoutAlign="center center">
    Designed by TX.Manh27
    <svg width="35" height="35" viewBox="0 0 250 250">
      <polygon
        fill="#dd0031"
        points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2"
      />
      <polygon
        fill="#c3002f"
        points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30"
      />
      <path
        fill="#fff"
        d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
      L125,52.1z M142,135.4H108l17-40.9L142,135.4z"
      />
    </svg>
  </div>
</footer>
