@import '../styles/vars';
@import '../styles/mixins';

.features {
  padding: 0;

  @include respond('gt-sm') {
    height: 100vh;
    position: relative;
  }
}

.features-list {
  height: 100%;

  figure {
    @include bg-cover(cover);
    width: 100%;
    min-height: 175px;

    @include respond('gt-xs') {
      min-height: 250px;
      width: 50%;
    }

    @include respond('gt-sm') {
      @include backdrop($black, .6);
      flex-basis: 33.3333%;
      transition: opacity .3s ease-in-out;

      &:nth-child(1),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(6) {
        height: 50%;
      }

      &:nth-child(2),
      &:nth-child(5) {
        height: 33.3333%;
      }
    }
  }

  figure::after {
    transition: opacity .3s ease-in-out;
  }

  figure:hover::after {
    @include respond('gt-sm') {
      opacity: 0;
    }
  }

  figcaption {
    padding: 20px;
    background-color: $black;
    opacity: .8;
    color: white;
    max-width: 80%;
    text-align: center;

    @include respond('gt-sm') {
      opacity: 0;
      transition: opacity .4s ease-in-out;
    }
  }

  figure:hover figcaption {
    opacity: .8;
  }
}

.contact-wrapper {
  padding: 25px;
  background-color: $white;
  width: 100%;
  text-align: center;
  z-index: 10;

  @include respond('gt-sm') {
    min-height: 33.3333%;
    width: 33.3333%;
    position: absolute;
    left: 33.3333%;
    top: 33.3333%;
  }

  img {
    max-width: 80px;
  }

  h1 {
    margin-top: 30px;
    font-size: 48px;
    line-height: 20px;
    font-family: 'Brush Script Std';

    @include respond('gt-xs') {
      font-size: 60px;
    }

    span {
      color: $primary;
    }

    label {
      font-family: 'Roboto';
      font-size: 20px;
    }
  }

  address {
    text-align: center;

    div {
      > a:first-child {
        @include respond('gt-xs') {
          text-align: left;
        }

        md-icon {
          margin-right: 5px;
        }
      }

      > a:last-child {
        @include respond('gt-xs') {
          text-align: right;
        }

         md-icon {
          margin-left: 5px;
        }
      }
    }

    a {
      margin: 5px auto;

      @include respond('gt-xs') {
        margin: 0;
      }
    }
  }
}

.price-list {
  text-align: center;
  color: white;
  max-width: 600px;
  margin: 0 auto;

  > div {
    margin: 10px auto;
  }

  > div > div {
    background-color: $secondary;
    padding: 7.5px;
  }

  > div > div:first-child {
    background-color: darken($primary, 4);
    font-weight: bold;
  }
}

.prices {
  table {
    width: 100%;
    margin-top: 20px;
    border-radius: 2px;
  }

  td {
    height: 50px;
    padding: 5px 15px;

    @include respond('gt-sm') {
      padding: 5px 30px;
    }
  }

  td:nth-child(2),
  td:nth-child(3) {
    width: 30%;
    text-align: center;
  }

  thead tr {
    background-color: $primary;
  }

  thead,
  td:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
  }

  tbody {
    td:nth-child(2),
    td:nth-child(3) {
      font-size: 18px;
    }

    tr:nth-child(odd) {
      background-color: lighten($secondary, 60);
    }

    tr:nth-child(even) {
      background-color: lighten($primary, 35);
    }
  }
}

.partners {
  padding: 0;
}

.testimonials {
  @include bg-cover(cover);
  @include backdrop($black, .7);
  background-attachment: fixed;
  text-align: center;
  color: $white;
  font-family: 'Merienda One';

  h3 {
    position: relative;
    z-index: 10;
  }

  @include respond('gt-sm') {
    min-height: 500px;
  }

  p {
    font-size: 24px;
  }

  label {
    display: block;
    text-align: right;
    font-size: 16px;
    line-height: 24px;
  }
}

.contact {
  @include bg-cover(cover);
  background-attachment: fixed;

  form {
    background-color: $white;
  }
}

form {
  padding: 30px;
  box-shadow: 0 10px 30px -5px $black;
}

footer {
  padding: 5px 20px;
  background-color:$primary;
  color: $white;
  text-align: center;

  svg {
    margin-left: 10px;
  }
}
